<section class='button-gallery'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='button-wrapper col-xs-4'>
        <p>Red Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4'>
        <p>Blue Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4'>
        <p>Green Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Yellow Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Blue-Green Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Orange Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Light Blue Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Super Light Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
      <div class='button-wrapper col-xs-4 col-md-2'>
        <p>Dark Blue Button</p>
        <button>
          <span class='button-text'>press</span>
        </button>
      </div>
    </div>
  </div>
</section>