<section class='filter-module'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='button-wrapper col-xs-4 col-sm-3 col-sm-offset-1'>
        <button>
          <span class="glyphicon glyphicon-step-backward"></span>
          <span class='button-text'>previous</span>
        </button>
      </div>

      {{!-- Via JS, data attributed --}}
      <div class="dropdown button-wrapper col-xs-4">
        <p>Dropdown</p>
        <button class="select" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class='button-text'>select</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li>Thing 1</li>
          <li>Thing 2</li>
        </ul>
      </div>

      {{!-- Via CSS component --}}
      {{!-- <div class="dropdown button-wrapper col-xs-4">
        <p>Dropdown</p>
        <button class="select dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          <span class='button-text'>select</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
        </ul>
      </div> --}}

      <div class='button-wrapper col-xs-4 col-sm-3'>
        <button>
          <span class='button-text'>next</span>
          <span class="glyphicon glyphicon-step-forward"></span>
        </button>
      </div>
    </div>
  </div>
</section>