<footer>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-xs-12'>
      	<img src="/assets/images/iron-yard-logo.svg">
        <p>Copyright 2015, The Iron Yard</p>
      </div>
    </div>
  </div>
</footer>