<section class="graph-1">
	<div class='container-fluid'>
		<div class="row">
			<div class="graph-key">
				<div class="graph-key-item col-xs-4 col-sm-2 col-sm-offset-2">
					<div class="key-item-swatch"></div>
					<p>No Submission</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Incomplete</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Unsatisfactory</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Satisfactory</p>
				</div>
				<div class="graph-key-item col-xs-4 col-sm-2">
					<div class="key-item-swatch"></div>
					<p>Exceptional</p>
				</div>
			</div>
		</div>
    <div class='row graph-item'>
      <div class="col-xs-6 col-md-2">
        <div class="user-card-small">
          <img src="/assets/images/jumboshrimp.jpg">
          <p class="user-name">Jumbo Shrimp</p>
          <p class="user-type">Front-End Instructor</p>
        </div>
      </div>
      <div class=" col-xs-6 col-md-2">
        <div class="user-stats-small">
          <p class="user-stats-title">Average Amount of Feedback</p>
          <p class="user-stats-count">418 Words</p>
        </div>
        <div class="user-stats-small">
          <p class="user-stats-title">Average Feedback Time</p>
          <p class="user-stats-count">28 Hours</p>
        </div>
      </div>
      <div class="user-graph col-xs-12 col-md-8">
      	<div class="user-graph-inner">
      		<div class="bar">
	      	 	<div style="width: 43%;"></div>
            <div><p>87</p></div>
	      	</div>
	      	<div class="bar">
	      	 	<div style="width: 75%;"></div>
	      	 	<div><p>150</p></div>
	      	</div>
	      	<div class="bar">
	      	 	<div style="width: 24%;"></div>
	      		<div><p>48</p></div>
	      	</div>
	      	<div class="bar">
	      		<div style="width: 23%;"></div>
	      		<div><p>46</p></div>
	      	</div>
	      	<div class="bar">
	      		<div style="width: 9%;"></div>
	      		<div><p>19</p></div>
	      	</div>
      	</div>
      </div>
    </div>
    <div class='row graph-item'>
      <div class="col-xs-6 col-md-2">
        <div class="user-card-small">
          <img src="/assets/images/samkap.jpg">
          <p class="user-name">Sam Kap</p>
          <p class="user-type">Design Instructor</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="user-stats-small">
          <p class="user-stats-title">Average Amount of Feedback</p>
          <p class="user-stats-count">240 Words</p>
        </div>
        <div class="user-stats-small">
          <p class="user-stats-title">Average Feedback Time</p>
          <p class="user-stats-count">12 Hours</p>
        </div>
      </div>
      <div class="user-graph col-xs-12 col-md-8">
      	<div class="user-graph-inner">
      	 <div class="bar">
      	 	<div style="width: 46%;"></div>
      	 	<div><p>93</p></div>
      	 </div>
      	 <div class="bar">
      	 	<div style="width: 67%;"></div>
      	 	<div><p>135</p></div>
      	 </div>
      	 <div class="bar">
      	 	<div style="width: 32%;"></div>
      	 	<div><p>64</p></div>
      	 </div>
      	 <div class="bar">
      	 	<div style="width: 23%;"></div>
      	 	<div><p>47</p></div>
      	 </div>
      	 <div class="bar">
      	 	<div style="width: 7%;"></div>
      	 	<div><p>14</p></div>
      	 </div>
      	</div>
      </div>
    </div>
    <div class='row graph-item'>
      <div class="col-xs-6 col-md-2">
        <div class="user-card-small">
          <img src="/assets/images/dabbs.jpg">
          <p class="user-name">James Dabbs</p>
          <p class="user-type">Rails Instructor</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="user-stats-small">
          <p class="user-stats-title">Average Amount of Feedback</p>
          <p class="user-stats-count">302 Words</p>
        </div>
        <div class="user-stats-small">
          <p class="user-stats-title">Average Feedback Time</p>
          <p class="user-stats-count">16 Hours</p>
        </div>
      </div>
      <div class="user-graph col-xs-12 col-md-8">
        <div class="user-graph-inner">
         <div class="bar">
          <div style="width: 42%;"></div>
          <div><p>82</p></div>
         </div>
         <div class="bar">
          <div style="width: 60%;"></div>
          <div><p>120</p></div>
         </div>
         <div class="bar">
          <div style="width: 37%;"></div>
          <div><p>75</p></div>
         </div>
         <div class="bar">
          <div style="width: 22%;"></div>
          <div><p>44</p></div>
         </div>
         <div class="bar">
          <div style="width: 5%;"></div>
          <div><p>10</p></div>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>