<header>
  <div class='container-fluid'>
    <div class='row clearfix'>
      <nav class='col-xs-12 col-sm-8'>
        <ul>
          <li><a href='#/' class="active">DASHBOARD</a>
          </li>
          <li><a href='#/'>COLLECTOR</a>
          </li>
          <li><a href='#/'>PLANNER</a>
          </li>
          <li><a href='#/'>GRADER</a>
          </li>
        </ul>
      </nav>
      <div class="menu-button visible-xs-inline-block col-xs-4">
        <button><span class="glyphicon glyphicon-th-list"></span>MENU</button>
      </div>
      <div class='logout pull-right col-xs-8 col-sm-4'>
        <a href="#">
          <span class="glyphicon glyphicon-cog"></span>
          <span>settings</span>
        </a>
        <a href="#">
          <span class="glyphicon glyphicon-user"></span>
          <span>logout</span>
        </a>
      </div>
    </div>
  </div>
</header>