<section class="list-module">
	<div class='container-fluid'>
    <div class='row'>
      <div class="user-card-med col-xs-12 col-sm-3">
        <div class="user-card-med-inner">
          <img src="/assets/images/andrew.jpg">
          <p class="user-name">Young Andrew</p>
          <p class="user-type">Front-End Engineering</p>
          <p class="user-semester">JS- Spring 2015</p>
          <div class="donut-chart">
            <img src="/assets/images/donut-chart.svg">
            <div class="completion-percent">
              <p>63%</p>
              <p>Course<br>Completion</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Backbone To-Do App</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#FFFFFF">Not Yet Graded</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">provide assessment</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Chat App</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#2FD3BF">Exceptional</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">View Feedback</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Roll the Dice Game</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#3EC173">Satisfactory</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">View Feedback</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Reusable Image Slider</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#E5BD41">Unsatisfactory</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">View Feedback</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">Contructor Game</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#E0813B">Incomplete</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">View Feedback</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9 pull-right">
          <div class="user-stats-med col-xs-12 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assignment">SASS Refactor</p>
              <p>Assigned: January&nbsp;02,&nbsp;2015</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p>Submitted: January&nbsp;03,&nbsp;2015</p>
              <p>Updated: 33&nbsp;days&nbsp;ago</p>
            </div>
          </div>
          <div class="user-stats-med col-xs-12 col-sm-6 col-md-4">
            <div class="user-stats-med-inner">
              <p class="assessment" style="color:#C64C46">No Submission</p>
              <span class="glyphicon glyphicon-info-sign"></span>
              <p class="link-helper">View Feedback</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>