<section class="profile">
  <div class='container-fluid'>
    <div class='row'>
      <div class="profile-image col-xs-12 col-sm-6 col-md-4">
        <img src="/assets/images/mason.jpg">
      </div>
      <div class="profile-info col-xs-12 col-sm-6 col-md-4">
        <ul>
          <li>
            <p class="title">Name:</p>
            <p>Mason Stewart</p>
          </li>
          <li>
            <p class="title">Role:</p>
            <p>Admin</p>
          </li>
          <li>
            <p class="title">HipChat&nbsp;Handle:</p>
            <p>Mason Stewart</p>
          </li>
          <li>
            <p class="title">Blog:</p>
            <p><a href="http://masondesu.com/">masondesu.com</a></p>
          </li>
          <li>
            <p class="title">Email:</p>
            <p><a href="mailto:mason@theironyard.com">mason@theironyard.com</a></p>
          </li>
        </ul>
        {{!-- <span class="glyphicon glyphicon-cog"></span> --}}
      </div>
      <div class="stats-wide col-xs-12 col-md-4">
        <div class="stats-wide-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>83</p>
            </div>
            <div class="stats-text">
              <p>Total</p>
              <p>Contributions</p>
            </div>
          </div>
          {{!-- <span class="glyphicon glyphicon-info-sign"></span> --}}
        </div>
      </div>
      <div class="stats-half col-xs-6 col-md-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>13</p>
            </div>
            <div class="stats-text">
              <p>Goals</p>
              <p>Added</p>
            </div>
          </div>
          {{!-- <span class="glyphicon glyphicon-info-sign"></span> --}}
        </div>
      </div>
      <div class="stats-half col-xs-6 col-md-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>10</p>
            </div>
            <div class="stats-text">
              <p>Resources</p>
              <p>Added</p>
            </div>
          </div>
          {{!-- <span class="glyphicon glyphicon-info-sign"></span> --}}
        </div>
      </div>
      <div class="stats-half col-xs-6 col-md-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>20</p>
            </div>
            <div class="stats-text">
              <p>Assignments</p>
              <p>Added</p>
            </div>
          </div>
          {{!-- <span class="glyphicon glyphicon-info-sign"></span> --}}
        </div>
      </div>
      <div class="stats-half col-xs-6 col-md-2">
        <div class="stats-half-inner">
          <div class="stats-content">
            <div class="stats-number">
              <p>40</p>
            </div>
            <div class="stats-text">
              <p>Journals</p>
              <p>Added</p>
            </div>
          </div>
          {{!-- <span class="glyphicon glyphicon-info-sign"></span> --}}
        </div>
      </div>
    </div>
  </div>
</section>